@media (max-width:1200px) {
    .stroca1{
        width: 100%;
    } 
    .stroca2{
        width: 100%;
    }
    .stroca3-team{
        width: 100%;
    }
    .stroca3{
        width: 100%;
    }
    .footer-blocks{
        width: 100%;
    }
}
@media (max-width:850px) {
    .stroca1{
        width: 100%;
    } 
    .stroca1-block-3-block2 ,.stroca1-block-3-block1{
        height: 200px;
    }
    .stroca2{
        width: 100%;
    }
    .stroca2-blocks{
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
    }
    .stroca2-block{
        width: 100%;
        margin-top: 50px;
        height: auto;
    }
    .stroca2-a{
        display: none;
    }
    .stroca3-team{
        width: 100%;
    }
    .stroca3{
        width: 80%;
        margin-left: 10%;
        flex-direction: column;
    }
    .stroca3-team-blocks{
        flex-direction: column;
        flex-basis: 0;
    }
    .stroca1-block-4{
        flex-direction: column;
    }
    .stroca3-team-blocks-block{
        flex-basis: auto;
        width: 300px;
    }
    .stroca1-block-4-row{
        width: 80%;
        margin-left: 10%;
        margin-top: 50px;
    }
    .stroca3-block-left{
        width: 91%;
    }
    .stroca3-block-right{
        width: 91%;
        margin-top: 50px;
    }

    .stroca1-block-4-block-border{
        border-left: solid 1px #3e90db;
    }
    .footer-blocks{
        width: 100%;
        flex-direction: column;
        border: solid 1px #f6f6f6;
        padding-bottom: 50px;
    }
    #footer-block1{
        text-align: center;
        width: 300px;
        margin: 0 auto;
        height: 50px ;
        border:solid 1px #f6f6f6 ;
        overflow: hidden;
    }
    .footer-block{
        text-align: center;
        width: 300px;
        margin: 0 auto;
        height: 50px ;
        border:solid 1px #f6f6f6 ;
        overflow: hidden;
    }
    .footer-block a{
        border-bottom:solid 1px #f6f6f6;
        width: 100px;
        padding-bottom: 5px;
        margin:  0 auto;
    }
    #footer-block-icons{
        justify-content: center;
    }
    #footer-block-icons i{
        margin-left: 10px;
    }
    #footer-block-but1{
        display: block;
    }
    .footer-block-but--1{
        display: block;
    }
    #footer-block-but1-5{
        display: block;
    }
}
@media (max-width:770px){
    .stroca1-block-1{
        justify-content: right;
        border-bottom: solid 1px #7e7d7d;
    }
    .stroca1-block-2-{
        flex-direction: column;
        margin-left: -200px;
    }
    .stroca1-block-3-2{
        display: none;
    }
    .stroca1-block-3{
        top: 69px;
        
    }
    .stroca1-block-3-block1{
        animation: none;
        overflow: hidden;
    }
    .stroca1-block-3-block1 img{
        width: 150%;
    }
    .stroca1-block-1-a {
        display: none;
    }
    .stroca1-block-4{
        margin-top: -337px;
    }
    .stroca1-block-2{
        flex-direction: column;
        justify-content: right;
        height: auto;
        width: 200px;
        margin-top: -80px;
    }
    .list-block button{
        display: block;
        background: none;
        border: none;
    }
    .stroca1-block-2-block p{
        display: none;
    }
    .stroca1-block-2-block{
        height: 60px;
        width: 150px;
        background-color: #f6f6f6;
        border-right:solid 1px #7e7d7d;
        border-bottom:solid 1px #7e7d7d;
        padding: 30px 0 0px 0px ;
    }
  
    .stroca1-block-2-block ul{
        margin-left: -15px;
    }
    #butttttm{
        display: none; 
        color: red;
    }
    .stroca3-block-right-block{
        flex-direction: column;
       
    }
}
@media (max-width:450px){
    .nad-header-right-block{
        display: none;
    }
    .stroca1-block-4-row {
        flex-direction: column;
        width: 150px;
        margin-top: 0;
        margin: 0 auto;
        
      
    }
    .stroca1-block-4-block{
        margin-top: 50px;  
        padding: 10px 40px 50px 40px;
        border-left: solid 1px #3e90db;
    }

    
    .stroca1-block-4-block-border{
        transform: translateX(0);
    }
    .stroca3-block-left{
        width: 85%;
    }
    .stroca3-block-right{
        width: 85%;
        margin-top: 50px;
    }
    .stroca2-text-block-2{
        flex-direction: column;
        display: flex;
    }
    #stroca2-text-block-2-a::after{
        content: none;
    }


}
@media (max-width:350px){
    .footer-block{
        text-align: center;
        width: 150px;
        margin: 0 auto;
        height: 50px ;
        border:solid 1px #f6f6f6 ;
        overflow: hidden;
    }
    #footer-block1{
        text-align: center;
        width: 150px;
        margin: 0 auto;
        height: 50px ;
        border:solid 1px #f6f6f6 ;
        overflow: hidden;
    }
    .stroca3-team-blocks-block{
        width: 150px;
    }

}