body {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.65;
  font-family: San Francisco, sans-serif;
}
a {
  text-decoration: none;
  color: #3e90db;
}
.nad-header {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  position: fixed;
  z-index: 100;
}
.nad-header-left {
  padding-right: 10px;
  width: 600px;
  height: 30px;
  font-size: 16px;
  text-align: right;
  border-right: solid 2px rgb(128, 127, 127);
}
.nad-header-left a {
  color: rgb(119, 119, 119);
}
.nad-header-right {
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  font-size: 17px;
  color: #3e90db;
}
.nad-header-right-block {
  display: flex;
}
.nad-header-right img {
  margin-right: 0;
  font-size: 20px;
  margin-top: 9px;
  margin-right: 10px;
  color: silver;
  font-size: 16px;
}
.nad-header-right-block- {
  margin-top: 12px;
  
}
.nad-header-right-block-- {
  display: inline-block;
  margin-top: -7px;
  margin-right: -38px;
}
.nad-header-right-block-1 {
  margin-right: 10px;
}
.nad-header-right-block-2 {
  margin-left: 10px;
  margin-top: 5px;
}

/* stroca1 */

.stroca-1{
  padding-top: 70px;
}
.stroca1 {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.stroca1-block-1 {
  display: flex;
  justify-content: space-between;
}
.stroca1-block-1-a {
  margin-top: 10px;
  padding: 5px 20px 5px 20px;
  height: 28px;
  color: #fff;
  background-color: #3e90db;
  border-radius: 5px;
}
.stroca1-block-1 a:hover {
    background-color: #2571b8;
    transition: all 0.2s ;

}

/* .stroca1-block-2 */

.stroca1-block-2 {
  display: flex;
  justify-content: space-around;
  height: 410px;
  padding: 20px 28px 0;
}
.stroca1-block-2-{
  width: 100%;
  display: flex;
  transition: all 0.5s ease;
  justify-content: space-around;
}
.list-block button{
 color: #383838;
 font-size: 30px;
 display: none; 
}
.stroca1-block-2-block {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 16px;
  color: #0e2231;
  height: 100px;
  width: 16%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: height 0.3s ease;
}
.stroca1-block-2-block img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  opacity: 0.5;
}
.stroca1-block-2-block p {
  font-size: 15px;
}
.stroca1-block-2-block ul a li {
  list-style: none;
  color: #9c9c9c;
  margin-left: -10px;
  margin-top: 10px;
}
.stroca1-block-2-block ul {
  text-align: left;
}
.stroca1-block-2-block:hover #stroca1-block-2-img {
  opacity: 1;
}
.stroca1-block-2-block:hover {
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  transition: height 0.3s ease;
}
.stroca1-block-2-block3:hover {
  height: 237px;
}
.stroca1-block-2-block4:hover {
  height: 270px;
}
.stroca1-block-2-block5:hover {
  height: 303px;
}
.stroca1-block-2-block a li:hover{
    color: #eb5757;
}



/* stroca1-block-3 */

.stroca1-block-3 {
  width: 100%;
  position: absolute;
  top: 188px;
  left: 0;
  display: flex;
  overflow:  hidden;
}
.stroca1-block-3-block1{
  width: 100%;
  animation: ainm 20s infinite;
  background-color: rebeccapurple;
  height: 267px;
  transform: scaleX(1);
}
.stroca1-block-3-2{
  overflow: hidden; 
  transform: translateY(-309px);
}
.stroca1-block-3-block2{
  width: 100%;
  height: 267px;
  animation: anim 20s infinite;
}
.stroca1-block-3-block2 img{
  width: 100%;
  height: 100%;
 
}

.stroca1-block-3 img {
  width: 100%;
  height: 100%;
}
@keyframes ainm {
  0%{
    transform: translateX(0%);
  }
  25%{
    transform: translateX(0%);
  }
  50%{
  transform: translateX(100%);
  }
  75%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0%);
  }
  
}
@keyframes anim{
    0%{
    transform: translateX(-100%);
  }
  25%{
    transform: translateX(-100%);
  }
  50%{
  transform: translateX(0%);
  }
  75%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
  
  
}

/* stroca1-block-4 */
.stroca1-block-4 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  margin-top: -259px;
}
.stroca1-block-4-row{
  width: 50%;
  display: flex;
}
.stroca1-block-4-block {
  border-right: solid 1px #3e90db;
  text-align: center;
  width: 50%;
  height: 70px;
  color: #0e2231;
}
.stroca1-block-4-block img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  filter:grayscale(1);
  opacity: 0.5;
}
.stroca1-block-4-block:hover{
    color: #3e90db;
    transition: all 0.2s ease;
}
.stroca1-block-4-block:hover #stroca1-block-4-block-img{
    filter: grayscale(0);
}


/* .zvonoc */

#zvonoc-{
  width: 700px;
  margin: 0 auto;
  display: none;
}

.zvbg{
  position: absolute;
background-color: #9c9c9c88;
  left: 0;bottom: 0;top: 0;right: 0;
  z-index: 1111111;
  display: none;
}

.zvonoc{
  box-shadow: 5px 5px 12px #555 ;
  border-radius: 20px;
  padding: 50px 100px 50px 100px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 524px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px; 
  margin-top:200px;
}
.button-x{
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  color: #3e90db;
  font-size: 40px;
  position: absolute;
  right:0 ;
  top: 0;
}
.zvonoc input{
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 0;
  font-size: 15px;
  font-family: Roboto,sans-serif;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #bedcf4;
  outline: none;
  margin-top: -10px;
}
#butt{
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  width: 40%;
  margin-left: 30%;
  margin-top: 30px;
  background-color: #3e90db;
  border: none;
  color: #f6f6f6;
  border-radius: 5px;

}
.zvonoc  h1{
  font-size: 40px;
  text-align: center;
}
.zvonoc h4{
  font-size: 15px;
  color: #89b7c5;
  margin-top: -10px;
}

/* stroca-2 */
.stroca-2{  
    padding: 39px 0;
    background-color: #f6f6f6;

}
.stroca2{
    width: 1200px;
    margin: 0 auto;
   
}
.stroca2-a{
    color: grey;
    font-weight: 700;
}

.stroca2-text-block-1{
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: normal;
    text-align: center;
    color: #383838;
}
.stroca2-text-block-2{
    text-align: center;
    border-bottom: solid 1px #3e90db ;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.stroca2-text-block-2 a{
    position: relative;
    text-align: center;
    min-width: 80px;
    position: relative;
    margin: 0 20px;
    padding: 0 20px 10px;
    font-size: 17px;
    color: grey;
    cursor: pointer;
}
#stroca2-text-block-2-a{
    color: #eb5757;
}
#stroca2-text-block-2-a::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -7px;
    left: -15px;
    height: 4px;
    width: 150%;
    background-color: #eb5757;
    border-radius: 5px;
}
.stroca2-text-block-2 a:hover{
    color: #eb5757;
}

.stroca2-blocks{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    padding-bottom: 50px;
}
.stroca2-block{
    width: 30%;
    border-radius: 5px;
    border: solid 1px #383838;
    background-color: #fff;
    padding-top: 10px;
    height: 412px;
}
.stroca2-block-img-block{
    width: 100%;
}
.stroca2-block-img-block img{
    width: 100%;
}
.stroca2-block-block1{
    width: 90%;
    padding: 30px 0px 30px 30px;
}
.stroca2-block-block1 p{
    color: grey;
    font-size: 16px;
}
.stroca2-block-block1 h3{
    font-size:19px;
    font-weight: normal;
}
.stroca2-block-block{
    width: 80%;
    height: 100px;
    overflow:auto;
}
.stroca2-block-text{
     display: flex;
     justify-content: space-between;
     width: 80%;
}
.stroca2-block-text a{
    display: inline-block;
    margin-top: 15px;
}
.stroca2-block-text p{
    display: inline-block;
}
.stroca2-block:hover{
    transition:  box-shadow 0.3s ease;
    border-color: #eb5757;
    box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
}
.stroca2-block:hover .stroca2-block-text-a{
    color: #eb5757;
}
.boll{
  width: 70px;
  height: 70px;
  position: fixed;
  right: 50px;
  top: 60%;
  background-image: url(https://livechat.chat2desk.com/images/widget/roll/icons/R1-1_blue.gif);
  background-size: cover;
  float: right;
}
/* stroca-3 */

.stroca-3{
  width: 100%;
  background-color: #fff;
}
.stroca3-team{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.stroca3-team-blocks{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.stroca3-team-blocks p{
  padding: 0 30px 0 30px;
}
.stroca3-team-blocks-block{
  flex-basis: 360px;
  padding: 12px 0;
  font-size: 17px;
  line-height: 1;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  z-index: 14;
  border: solid 1px #3e90db;
  transition: all 0.3s ease;
}
.stroca3-team-blocks-block-2 {
  border-color: #eb5757;
}
.stroca3-team-blocks-block:hover{
  box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
}
.stroca3-team-blocks-block-2 a{
  color: #eb5757;
}
.stroca3{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.stroca3-abaut{
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: #383838;
}
.stroca3 a{
  color: #fff;
  text-decoration: underline;
}
.stroca3-block-left{
  width: 45%;
  padding: 0px 27px 10px 27px;
  border: 1px solid grey;
  border-radius: 5px;
  color: #383838;
}
.stroca3-block-left h1{
  font-size: 20px;

}
.stroca3-block-left p{
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.stroca3-block-left hr{
  width: 100%;
  height: 2px;
  border: none;
  background-color: #3e90db;
}
.stroca3-block-left a{
  font-size: 14px;
  font-weight: 600;
}

.stroca3-block-right{
  border-radius: 5px;
  padding: 0px 27px 10px 27px;
  width: 44%;
  background-color: #eb5757;
  color: #Fff;
  font-weight: 600;
}
.stroca3-block-right-block{
  display: flex;
  width: 100%;
}
.stroca3-block-right-block-left{
  width: 70%;
}
.stroca3-block-right-block-right{
  width: 30%;
}
.stroca3-block-right-block-right-team{
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-top: -30px;
}
/* footer */
footer{
  background-color: #3e90db;
  color: #fff;
  padding: 20px 0 50px 0;
}
footer a{
  color: rgba(255, 255, 255, 0.774);
  font-weight: 400;
}
footer a:hover{
  color: #fff;
}
.footer-blocks{
  width: 1200px;
  margin: 0 auto;
  display: flex;justify-content: space-between;
}
#footer-block1{
  width: 15%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer-block{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 14%;
}
#footer-block-but1{
  position: absolute;
  right:10px;
  top: 10px ;
  border: none;
  background: none;
  color: #f6f6f6;
  font-size: 25px;
  display: none;
}
#footer-block-but2{
  position: absolute;
  left:10px;
  transform: rotate(179deg);
  display: none;
  top: 10px ;
  border: none;
  background: none;
  color: #f6f6f6;
  font-size: 25px;
}
.footer-block-but--1{
  position: absolute;
  right:10px;
  top: 10px ;
  border: none;
  background: none;
  color: #f6f6f6;
  font-size: 25px;
  display: none;
}
.footer-block-but--2{
  position: absolute;
  left:10px;
  transform: rotate(179deg);
  display: none;
  top: 10px ;
  border: none;
  background: none;
  color: #f6f6f6;
  font-size: 25px;
}
#footer-block-icons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer-block-icons i{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.774);
}
#footer-block-icons i:hover{
  color: #fff;
}
#footer-block-but1-5{
  display: none;
}