
.stroca-1{
    width: 100%;   
    background-image: url(http://my.neotelecom.kg/assets/images/b.jpg);
    background-repeat: no-repeat;
    background-position: 50%;  
    background-size: cover;
    margin: 0;
    padding-bottom: 650px;
}
.stroca1{
    width: 1200px;
    margin:0 auto;
}
.block-nad-header{
    display: flex;
    justify-content: space-between;
}
.block-nad-header-block img{
    width: 110%;
    margin-top: 10px;
}
.block-nad-header-block-{
    height: 73px;
    overflow: hidden;
}
.block-nad-header-block- img{
    width: 120%;
    margin-left: -10%;
}

.stroca1-imput-block{
    max-width: 350px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 50px;
}
.stroca1-imput-block p{
    font-size: 25px;
    margin-bottom: -5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.stroca1-imput-block input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    height: 30px;
    border: solid 1.5px #a5a5a5 ;
    border-radius: 5px;
}
.stroca1-imput-block button{
    width: 106%;
    text-align: center;
    background-color: #009BDF;
    color: aliceblue;
    padding:15px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
}
.stroca1-imput-block input:hover{
    box-shadow: 0 0 10px #009BDF;
}
.stroca1-imput-block button:hover{
    background-color: #204d74;
}