body {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.65;
  font-family: San Francisco, sans-serif;
}
a {
  text-decoration: none;
  color: #3e90db;
}
.nad-header {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  position: fixed;
  z-index: 100;
}
.nad-header-left {
  padding-right: 10px;
  width: 600px;
  height: 30px;
  font-size: 16px;
  text-align: right;
  border-right: solid 2px rgb(128, 127, 127);
}
.nad-header-left a {
  color: rgb(119, 119, 119);
}
.nad-header-right {
  width: 600px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  font-size: 17px;
  color: #3e90db;
}
.nad-header-right-block {
  display: flex;
}
.nad-header-right img {
  margin-right: 0;
  font-size: 20px;
  margin-top: 9px;
  margin-right: 10px;
  color: silver;
  font-size: 16px;
}
.nad-header-right-block- {
  margin-top: 12px;
  
}
.nad-header-right-block-- {
  display: inline-block;
  margin-top: -7px;
  margin-right: -38px;
}
.nad-header-right-block-1 {
  margin-right: 10px;
}
.nad-header-right-block-2 {
  margin-left: 10px;
  margin-top: 5px;
}

/* stroca1 */

.stroca-1{
  padding-top: 70px;
}
.stroca1 {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.stroca1-block-1 {
  display: flex;
  justify-content: space-between;
}
.stroca1-block-1-a {
  margin-top: 10px;
  padding: 5px 20px 5px 20px;
  height: 28px;
  color: #fff;
  background-color: #3e90db;
  border-radius: 5px;
}
.stroca1-block-1 a:hover {
    background-color: #2571b8;
    transition: all 0.2s ;

}

/* .stroca1-block-2 */

.stroca1-block-2 {
  display: flex;
  justify-content: space-around;
  padding: 20px 28px 0;
  height: 150px;
}
.stroca1-block-2-block {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 16px;
  color: #0e2231;
  height: 100px;
  width: 16%;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: height 0.3s ease;
}
.stroca1-block-2-block img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  opacity: 0.5;
}
.stroca1-block-2-block p {
  font-size: 15px;
}
.stroca1-block-2-block ul a li {
  list-style: none;
  color: #9c9c9c;
  margin-left: -10px;
  margin-top: 10px;
}
.stroca1-block-2-block ul {
  text-align: left;
}
.stroca1-block-2-block:hover #stroca1-block-2-img {
  opacity: 1;
}
.stroca1-block-2-block:hover {
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  transition: height 0.3s ease;
}
.stroca1-block-2-block3:hover {
  height: 237px;
}
.stroca1-block-2-block4:hover {
  height: 270px;
}
.stroca1-block-2-block5:hover {
  height: 303px;
}
.stroca1-block-2-block a li:hover{
    color: #eb5757;
}

/* .stroca1-tarif-block-text */
.stroca1-tarif-block-text-{
  padding-bottom: 200px;
}
.stroca1-tarif-block-text- a{
  color: #6d6d6d;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  
}

.stroca1-tarif-block-text{
  margin-top: -150px;
}
.stroca1-tarif-block-text h1{
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #383838;
}
/* stroca1-tarif-block-text-2 */

.stroca1-tarif-block-text-2{
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  border-bottom: solid 1px #3e90db;
}
.stroca1-tarif-block-text-2 a{
  font-weight: 500;
}

.stroca1-tarif-block-text-2-a{
  padding-bottom: 20px;
  width: 150px;
  text-align: center;
  color: #eb5757;
  border-bottom: solid 4px #eb5757;
}

.registration{
  width: 524px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}
.registration h4{
  color: #89b7c5 ;
}
.registration p{
  font-size: 15px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
}
.registration input{
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 7px 0;
  font-size: 15px;
  font-family: Roboto,sans-serif;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #bedcf4;
  outline: none;
}
.registration select{
  position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 0;
    font-size: 15px;
    font-family: Roboto,sans-serif;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #bedcf4;
    outline: none;
    cursor: pointer;
}
.registration button{
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  width: 40%;
  margin-left: 30%;
  margin-top: 30px;
  background-color: #3e90db;
  border: none;
  color: #f6f6f6;
  border-radius: 5px;
}


/* footer */
footer{
  background-color: #3e90db;
  color: #fff;
  padding: 20px 0 50px 0;
}
footer a{
  color: rgba(255, 255, 255, 0.774);
  font-weight: 400;
}
footer a:hover{
  color: #fff;
}
.footer-blocks{
  width: 1200px;
  margin: 0 auto;
  display: flex;justify-content: space-between;
}
.footer-block{
  width: 15%;
  display: flex;
  flex-direction: column;
}
.footer-block-icons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-block-icons i{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.774);
}
.footer-block-icons i:hover{
  color: #fff;
}